.bestSellerDetailsBackground {
    background-color: #808274;
    margin-left: 98px;

    margin-top: 20px;
    padding-bottom: 15px;
    padding-left: 40px;
    width: 1200px;
    height: auto;
} 

.bestSellerDetailsBackground, .bestSellerBookInfo {
    display: inline-flex;
}

.bestSellerBookInfo {
    display: block;
    padding-left: 10px;
} 

.updateBook {
    display: inline-flex;
}