.bookDetailsBackground, .bookDetailsInfo {
    display: inline-flex;
}

.bookDetailsInfo {
    display: block;
    padding-left: 10px;
    color: #42373A;
} 

.updateBook {
    display: inline-block;
}