.bestSellersBackground {
    /* background-color: #808274; */
   
    /* padding-left: 80px; */
    /* width: 1250px; */
    height: auto;
}

.bestSellerHeading {
    color: #C79A96;
    margin-left: 380px;
}
