.bestSellerCover, .bestSellerInfo, .bestSellerBookshelfMenu {
    display: inline-block;
}

.bestSellerPaper {
    display: flex;
    align-items: center;
    margin-left: 163px;
}

.bestSellerBooks {
   margin: auto;
   display: inherit;
}

.bestSellerCover {
    width: 180px;
    height: auto;
    padding: 15px;
    padding-right: 30px;
}

.bestSellerInfo {
    width: 400px;
    height: auto;
    padding: 15px;
}

.bestSellerBookshelfMenu {
    padding: 15px;
}
