.bestSellerCover, .bestSellerInfo, .bookshelfMenu {
    display: inline-block;
}


.bestSellerBooks {
   margin: auto;
   display: inherit;
}

.bestSellerCover {
    width: 180px;
    height: auto;
    padding: 15px;
}

.bestSellerInfo {
    width: 250px;
    height: auto;
    margin: 15px;
}
