.searchResultsCover, .searchResultInfo, .searchBookshelfMenu {
    display: inline-block;
}

.searchResultsPaper {
    display: flex;
    align-items: center;
}

.searchResultsBooks {
    margin: auto;
    display: inherit;
}

.searchResultsCover {
    width: 180px;
    height: auto;
    margin-top: 0;
    padding: 15px;
    padding-right: 60px;
}

.searchResultInfo {
    width: 700px;
    height: auto;
    color: #42373A;
}

.searchBookshelfMenu {
    padding: 15px;
    color: #42373A;
    padding-bottom: 200px;
}