.resultBackground {
    display: inline-flex;
    align-items: center;
}

.searchResultBooks {
    display: inline-flex;
}

.searchResultCover {
    height: 400px;
    width: 550px;
}

/* .searchBookCovers{
    width: 1500px;
    height: 200px;
    padding: 15px;
} */